# Environment & secrets
.env
.env.*

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Vector databases
data/
vectorstore/
faiss_index/
chroma_db/

# OS & editor
.DS_Store
.vscode/

# Logs
*.log
